.pokeCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 200px;
  min-height: 300px;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9; /* Fondo claro para mejor contraste */
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid;
  border-radius: 12px 12px 0 0;
  width: 100%;
  box-sizing: border-box;

  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  span {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.bottom {
  padding: 15px;
  width: 100%;
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-transform: capitalize; /* Capitalizar nombres */
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .pokeCard {
    max-width: 150px;
    min-height: 250px;
  }

  .top img {
    width: 80px;
    height: 80px;
  }

  .bottom {
    font-size: 16px;
  }
}

/* Para pantallas medianas (tablets) */
@media (min-width: 768px) {
  .pokeCard {
    max-width: 180px;
    min-height: 280px;
  }

  .top img {
    width: 90px;
    height: 90px;
  }

  .bottom {
    font-size: 17px;
  }
}

/* Para pantallas grandes (desktops) */
@media (min-width: 1024px) {
  .pokeCard {
    max-width: 200px;
    min-height: 300px;
  }

  .top img {
    width: 100px;
    height: 100px;
  }

  .bottom {
    font-size: 18px;
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
